@model List<CursoWeb2.Models.PRODUCTO>
@using System.Data
@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Producto</h2>

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-"></i> Lista de Producto
    </div>

    <div class="card-body">
        <div class="row mb-4">
            <div class="col-12">
                <a href="@Url.Action("CrearProducto", "Mantenedor")" class="btn btn-success">Crear Producto</a>
            </div>
        </div>

        <div class="table-responsive">
            <table id="usuariosTable" class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Accion</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        int index = 1;
                        foreach (var vUsuario in Model)
                        {
                            <tr>
                                <th scope="row">@index</th>
                                <td>@vUsuario.Nombre</td>
                                <td>@vUsuario.Descripcion</td>
                                <td>@vUsuario.Marca</td>
                                <td>@vUsuario.IdCategoria</td>
                                <td>@vUsuario.Precio</td>
                                <td>@vUsuario.Stock</td>
                                <td>@vUsuario.Activo</td>
                                <td>
                                    <a href="@Url.Action("EditarProducto", "Mantenedor", new { id = vUsuario.IdProducto })" class="btn btn-primary btn-sm"><i class="fa fa-pen"></i></a>
                                    <a href="@Url.Action("EliminarProducto", "Mantenedor", new { id = vUsuario.IdProducto })" class="btn btn-danger btn-sm ms-2"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            index++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">No hay usuarios registrados.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



